<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb305571105789401</string>
				<string>com.googleusercontent.apps.533276814232-2f3imrukn109irdag22c4gs50912trtd</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>305571105789401</string>
	<key>FacebookClientToken</key>
	<string>770306b6e09c000a2e729bfffc3c630f</string>
	<key>FacebookDisplayName</key>
	<string>Gringo</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>RegisterVC</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
